**/BigThingsTheFirst/obj
**/BigThingsTheFirst/Library
**/BigThingsTheFirst/.vs
**/BigThingsTheFirst/Temp
BigThingsTheFirst/Library/ScriptAssemblies/Assembly-CSharp.dll
BigThingsTheFirst/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
BigThingsTheFirst/Library/assetDatabase3
BigThingsTheFirst/Library/metadata/00/00000000000000004000000000000000
BigThingsTheFirst/Library/metadata/00/0000000000000000b000000000000000
BigThingsTheFirst/Library/metadata/52/52a206b72a8f4f749c28d8b18b42dd19
*.csproj
*.csproj
*.csproj
